body {
    position: relative;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-image: url(./img/fondo\ icono\ valorant.jpg);
    background-size: 100vw 100vh;
}


.navBar {
    width: 100%;
    background-color: #00000080;
    position: sticky;
    top: 0;
}

.navbar-brand img {
    height: 60px;
}

.navbar-nav .nav-link {
    font-size: 1.4rem;
    font-weight: bold;
}

#footerHome img {
    height: 50px;
    margin-right: 20px;
    width: auto;
}
#footerHome {
    width: 100%;
    background-color: #000000;
}


footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;

}

footer .fa-2x {
    font-size: 2em;
}


footer p {
    font-size: 1rem;
    margin: 0;
    color: #ffffff;
}


.map-container {
    width: 32vw;
    height: auto;
    margin: 2vw;
    padding: 1vw;
    background-color: rgba(215, 209, 223, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.map-title {
    font-size: 64px;
    margin-bottom: 10px;
    margin: 1vw;
}

.map-description {
    font-size: 26px;
    margin-bottom: 20px;
    margin: 1vw;
}

.map-image {
    width: 30vw;
    height: 40vh;
    border-radius: 8px;
    margin-bottom: 10px;
    object-fit: cover;
}

.thumbnails {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.thumbnail {
    width: 100px;
    height: 60px;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.05);
}


#maps-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.centrrrrr {
    display: flex;
    justify-content: start;
    align-items: start;
}

#search-bar {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin: 20px auto;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

#search-bar:focus {
    border-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    outline: none;
}

#no-results-message {
    color: #ff6347;
    height: 55vh;
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}

#no-results-message.hidden {
    display: none;
}

#no-results-message:not(.hidden) {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width: 768px) {
    .map-container {
        margin: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .map-image {
        width: 70vw;
        border-radius: 8px;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .map-title {
        font-size: 20px;
    }

    .map-description {
        font-size: 14px;
    }

    .thumbnail {
        width: 80px;
        height: 50px;
    }
}

@media (max-width: 480px) {
    .map-container {
        margin: 10px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        width: 80vw;
        height: 55vh;
    }

    .map-image {
        width: 60vw;
        height: 35vh;
        border-radius: 8px;
        margin-bottom: 10px;
        object-fit: cover;
    }

    .map-container {
        margin: 5px;
        padding: 10px;
    }

    .map-title {
        font-size: 18px;
    }

    .map-description {
        font-size: 12px;
    }

    .thumbnail {
        width: 70px;
        height: 40px;
    }
}