/*               */
/*               */
/* comienza Home */
/*               */
/*               */
@import url('https://fonts.cdnfonts.com/css/valorant');
@import url('https://fonts.cdnfonts.com/css/cd-fedra-cond-pro-book');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bodyHome{
  position: relative;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-x: scroll;
  background-image: radial-gradient(
    circle at top left,
    #950923 10%,
    #111113 30%
  );
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

#background-video {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.navbar-brand img {
    height: 60px;
}

.navbar-nav .nav-link {
    font-size: 1.4rem;
    font-weight: bold;
}


#footerHome {
  width: 100%;
  height: 15vh;
  bottom: 0;
  margin-top: auto;
  color: #fff;
  text-align: center;
  font-family: 'CD Fedra Cond Pro Book', sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  
}


#footerHome img {
  height: 50px;
  margin-right: 20px;
  width: auto;
}


footer a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  
}

footer .fa-2x {
  font-size: 2em;
}


footer p {
  font-size: 1rem;
  margin: 0;
}

#clasificacion p{
  font-size: 0.8rem;
  margin: 0
}

.container2Home{
  width: 40%;
  height: 60vh;
  overflow-y: scroll;
}
::-webkit-scrollbar {
    display: none;
}
.container2Home h2{
  color: red;
  font-family: 'VALORANT', sans-serif;
}
.container2Home h1{
  color: white;
  text-shadow: 2px 2px 2px #950923;
  font-family: 'VALORANT', sans-serif;
  text-align: center;
}

.class .navbar-brand img{
  background-color: white;
}

.container2Home p{
  color: #ddd;
  font-family: 'CD Fedra Cond Pro Book', sans-serif;
  font-size: larger;
}

.swiper {
  width: 600px;
  height: 450px;
  padding: 2px 0;
}

.swiper-slide {
  position: relative;
  width: 190px;
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  transition: 1s;
  user-select: none;
  background-position: center; 
  background-size: cover;
  transition: 6s;
}
#card2{
  background-position: center; 
  background-size: 50%;
  background-repeat: no-repeat;

}
#card4{
  background-position: center; 
  background-size: 90%;
  background-repeat: no-repeat;

}

.swiper-slide::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(130, 13, 13, 0.8),
    rgba(39, 8, 92, 0.8)
  );
  mix-blend-mode: multiply;
  z-index: 1;
}

.swiper-slide img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  transition: 1s;
}

.swiper-slide .titulo {
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 2px;
  opacity: 1;
}

.swiper-slide .card_info{
  display: none;
}

/* slide activa */

.swiper-slide-active {
  position: relative;
  width: 350px;
  transition-duration: 1s;
}

.swiper-slide-active:hover .card_info{
  position: absolute; 
  width: 90%; 
  height: 90%; 
  left: 0; 
  bottom: 0;
  right: 0; 
  top: 0; 
  display: block;
  margin: auto; 
  padding: 20px;
  color: #000000;
  font-family: 'CD Fedra Cond Pro Book', sans-serif;
  background-color: #ffffff8c;
  font-size: 1.5;
  font-weight: 700;
  box-shadow: 0 5px 10px #000;
  transition-duration: 3s;
  
}

.swiper-slide-active:hover .card_info .content { margin-top: 15px;

}

.swiper-slide-active:hover .card_info .action  .btn { 
  position: absolute; 
  padding: 10px; 
  color: #FFf; 
  left: 60px;
  width: 60%; 
  bottom: 4px;
  text-decoration: none; 
  text-align: center; 
  background: #621721; 
  display: block; 

}

.swiper-slide-active::after {
  background: rgba(123, 123, 123, 0.4);
  
}

.swiper-slide-active .card_info {
  transform: rotate(0deg) scale(1);
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
}

.swiper-pagination-bullet-active {
  width: 32px;
  background-color: #6f1223;
  border-radius: 14px;
}
#swipeAgents{
  display: none;
}
#swipeBuddies{
  display: none;
}
#swipeMaps{
  display: none;
}
#swipeWeapons{
  display: none;
}




@media ( max-width: 767px) {
  .headerHome{
    height: 10vh;
    width: 100vw;
  }
  .mainHome{
    height: 100vh;
    width: 100vw;
    flex-direction: column-reverse;
    overflow: scroll;
  }
  
  .navHome img {
    height: 40px;
}

.bodyHome{
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: radial-gradient(
    circle at top left,
    #950923 10%,
    #111113 30%
  );
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}

#background-video {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

#contenedorHome{
      display: flex;
      flex-direction: column-reverse;
      height: 100vh;
      margin-top: 0;
      overflow: scroll;
      
  }

 
  .container2Home{
    width: 90%;
    margin:0%;
    
  }
  .swiper {
    display: flex;
    width: 90vw;
    height: 50vh;
    margin-top: 0%;

  }
  
  .swiper-slide {
    position: relative;
    display: flex;
    width: 80vw;
    border-radius: 12px;
    overflow: hidden;
    user-select: none;
    background-position: center; 
    background-size: cover;
    transition: 5s;
  }
  /* slide activa */



.swiper-slide-active {
  position: relative;
  width: 70vw;
  height: 48vh;
  transition-duration: 1s;
}

.swiper-slide-active:hover .card_info{
  position: absolute; 
  width: 80%; 
  height: 39vh; 
  left: 0; 
  bottom: 0;
  right: 0; 
  top: 0; 
  display: block;
  margin: auto; 
  padding: 20px;
  color: #000000;
  font-family: 'CD Fedra Cond Pro Book', sans-serif;
  background-color: #ffffff8c;
  font-size: 0.8rem;
  font-weight: 500; 
  box-shadow: 0 5px 10px #000;
  transition-duration: 3s;
  
}

.swiper-slide-active:hover .card_info .content { margin-top: 0px;

}

.swiper-slide-active:hover .card_info .action  .btn { 
  position: absolute; 
  padding: 1px; 
  color: #FFf; 
  left: 40px;
  width: 60%; 
  bottom: 4px;
  text-decoration: none; 
  text-align: center; 
  background: #621721; 
  display: block; 

}
.footerHome img {
  display: none;
}


#derechos{
  display: none;
}

#clickAgents{
  display: none;
}
#clickBuddies{
  display: none;
}
#clickMaps{
  display: none;
}
#clickWeapons{
  display: none;
}

#swipeAgents{
  display: block;
}
#swipeBuddies{
  display: block;
}
#swipeMaps{
  display: block;
}
#swipeWeapons{
  display: block;
}


}


/*               */
/*               */
/* termina Home  */
/*               */
/*               */