/* AGENTES */

html,body{
    position: relative;
    height: 100%;
}

body{
    background-color: #2832b4;
    font-family: Helvetica Neue, Helvetica;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper{
    
    padding: 0px 0 50px 0;
}

.swiper-slide{
    width: 300px !important;
    height: 530px;
    background-color: #32323200;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
    padding: 35px;
   
    text-align: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text{
    flex-basis: 50%;
    text-align: left;
}

.text h3{
    margin: 5px;
    text-align: center;
    font-size: 25px;
    color: #db1818;
    font-weight: bold;
    text-transform: uppercase;
}
.text i {
    font-size: 23px;
    color: #db1818;
}

.text p{
    font-size: 0px;
    color: #ffffff;
}


.image img{
    width: 150%;
    object-fit: cover;
}
.myBtn{
   display: inline-block; 
   padding: 13px  40px;
   border: 3px solid #f81010;
   border-radius: 25px;
   color: #f81010;
   text-decoration: none;
   margin-top: 20px;
}
